<html>

<body>
    <h1>{{title}} laddu</h1>
    <form action="/calc-bmi">

        <table style="width:30%">
            <tr>
                <th><input name="user_id" hidden="true"  value="{{id}}" rows="1" cols="10"></input><br></th>
            </tr>
            <tr>
                <td>Weight</th>
                <th><input name="weight" rows="1" cols="10"></input><br></th>
            </tr>
            <tr>
                <td>Height</th>
                <th><input name="height" rows="1" cols="10"></input><br></th>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
