<html>

<body>
    <h1>{{title}}</h1>
    <form action="/save-user">

        <table style="width:30%">
            <tr>
                <td>Name</th>
                <th><input name="name" rows="1" cols="10"></input><br></th>
            </tr>
            <tr>
                <td>Email</th>
                <th><input name="email" rows="1" cols="10"></input><br></th>
            </tr>
            <tr>
                <td>Age</th>
                <th><input name="age" rows="1" cols="10"></input><br></th>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
